################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/NoCap.WebApi/bin/Debug/net6.0
/NoCap.WebApi/obj
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/cs/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/es/Microsoft.CodeAnalysis.Workspaces.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/es/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/es/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/es/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/es/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/es/Microsoft.CodeAnalysis.Scripting.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/es/Microsoft.CodeAnalysis.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/es/Microsoft.CodeAnalysis.Features.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/es/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/es/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/es/Microsoft.CodeAnalysis.CSharp.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/es/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/it/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/it/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/it/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/it/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/it/Microsoft.CodeAnalysis.Scripting.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/it/Microsoft.CodeAnalysis.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/it/Microsoft.CodeAnalysis.Features.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/it/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/it/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/.vs/NoCap/DesignTimeBuild/.dtbcache.v2
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/ja/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/ja/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/ja/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/ja/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/ja/Microsoft.CodeAnalysis.Scripting.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/ja/Microsoft.CodeAnalysis.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/ja/Microsoft.CodeAnalysis.Features.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/ja/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/ja/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/pt-BR/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/pt-BR/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/pt-BR/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/pt-BR/Microsoft.CodeAnalysis.Scripting.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/pt-BR/Microsoft.CodeAnalysis.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/pt-BR/Microsoft.CodeAnalysis.Features.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/pt-BR/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/pl/Microsoft.CodeAnalysis.Workspaces.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/pl/Microsoft.CodeAnalysis.Workspaces.MSBuild.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/pl/Microsoft.CodeAnalysis.VisualBasic.Workspaces.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/pl/Microsoft.CodeAnalysis.VisualBasic.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/pl/Microsoft.CodeAnalysis.VisualBasic.Features.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/pl/Microsoft.CodeAnalysis.Scripting.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/pl/Microsoft.CodeAnalysis.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/pl/Microsoft.CodeAnalysis.Features.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/pl/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/pl/Microsoft.CodeAnalysis.CSharp.Scripting.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
/NoCap.WebApi/bin/Debug/net6.0/linux-x64/pl/Microsoft.CodeAnalysis.CSharp.Features.resources.dll
